{% extends "base.html" %}

{% block tittle %} About {% endblock tittle %}


{% block body  %}
<style>
    body {
      background-image: url('https://images.pexels.com/photos/2611817/pexels-photo-2611817.jpeg?auto=compress&cs=tinysrgb&w=600');
    }
    </style>




<figure class="figure my-4 px-3">
    <img src="https://img.freepik.com/premium-vector/online-shopping-digital-technology-with-icon-blue-background-ecommerce-online-store-marketing_252172-219.jpg" alt="..."   width="600" 
    height="500">
    <figcaption class="figure-caption text-end"> <centre> Aman Hardware And Electrical </figcaption>
  </figure>
 
  
    <p style="color:black;font-size:1.5vw ">
     Welcome to Aman Hardware and Electrical, your trusted local destination for a wide range of quality hardware and electronics products.  Located in  <b>  <I> Dudahi, Kushinagar, Uttar Pradesh</I> </b>  we take pride in serving the community with the best tools, materials, and gadgets for all your home improvement and electronic needs. Our store offers everything from bathroom fixtures and electrical wiring to switches and paints, making it your one-stop shop for all things hardware and electronics.
     </p>
  



<p style="color:black;font-size:1.5vw ">

    
    At Aman Hardware and Electrical, we believe in providing not just products but solutions. With years of experience, our knowledgeable and friendly team is always ready to assist you in finding exactly what you need. Whether you're working on a big construction project or simply updating your home, we’ve got the right supplies to help you succeed.

</p>



<p style="color:black;font-size:1.5vw ">
  
     We understand the importance of quality, and that’s why we stock only the best brands. From reliable electrical cables to durable bathroom accessories, we ensure that our products meet the highest standards. Our special festival collection offers exclusive products that will add charm to your celebrations, and we regularly roll out exciting offers to make shopping with us even more rewarding.

    


</p>



<p style="color:black; font-size:1.5vw ">
    Our commitment to customer satisfaction is what sets us apart. We value the trust our customers place in us and strive to offer the best shopping experience, whether you visit us in-store or online. 

</p>























<p style="color:black; font-size:1.5vw"> 
    For any inquiries or assistance, feel free to contact us at <b>99733961312, 9717809945</b>. We look forward to serving you and helping you complete your next project with ease.

</p>
    
    
    










<p style="color:black;  font-size:3vw"   ><b>
   <b> Thank you for choosing Aman Hardware and Electrical – where quality meets trust! </b>
</b>
    </p>
    


{% endblock body %}
