<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block tittle %}{% endblock tittle %}  Aman Hardware And Electrical</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Aman Hardware And Electrical</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/About">About Us</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/Services" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Services
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/contact">Bathroom Hardware</a></li>
                <li><a class="dropdown-item" href="/contact">Tiles</a></li>
                <li><a class="dropdown-item" href="/contact">Paints</a></li>
                <li><a class="dropdown-item" href="/contact">Electrical Switches</a></li>
                <li><a class="dropdown-item" href="/contact">Wires & Cables.</a></li>
                <li><a class="dropdown-item" href="/contact">PVC Pipes</a></li>
                <li><a class="dropdown-item" href="/contact"> Slvo Bond</a></li>
                <li><a class="dropdown-item" href="/contact">Water Storage Tank</a></li>
                <li><a class="dropdown-item" href="/contact"> Asian Gold Enamel </a></li>
                <li><a class="dropdown-item" href="/contact">Crompton Pump Mini Glory Plus</a></li>
                <li><a class="dropdown-item" href="/contact">LED 12W Inverter Bulb</a></li>
                <li><a class="dropdown-item" href="/contact">Adore Jumbo LED </a> </li>
                <li><a class="dropdown-item" href="/contact">Air CF Fan</a></li>
                <li><a class="dropdown-item" href="/contact">Cabu</a></li>
                <li><a class="dropdown-item" href="/contact">Olive Dry PP CAN Capacitor</a></li>
                <li><a class="dropdown-item" href="/contact">RK-92 Core Al Cable</a></li>
                <li><a class="dropdown-item" href="/contact">Parcos White 4Step Fan Regulator</a></li>
                <li><a class="dropdown-item" href="/contact">Motor Glend  </a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/">Home decor</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact Us</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
    {% block body %}{% endblock body %}
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>