{% extends "base.html" %}

{% block tittle %} Contact {% endblock tittle %}


{% block body  %}

<style>
    body {
      background-image: url('https://images.pexels.com/photos/2611817/pexels-photo-2611817.jpeg?auto=compress&cs=tinysrgb&w=600');
    }
    </style>


  <h1 style="font-size:3vw;  color:black; my-3 " >    Contact Us          </h1>


  <div class="d-flex align-items-center my-5">
    <div class="flex-shrink-0">
      <img src="https://images.pexels.com/photos/1416530/pexels-photo-1416530.jpeg?auto=compress&cs=tinysrgb&w=600" alt="...">
    </div>
    <div class="flex-grow-1 ms-3">
      <h1 style="font-size:3vw;  color:black  " > 
        Want To Know More?
      </h1>
      <h2 style="font-size:3vw;  color:black  " > 
        Reach Out To Us!
      </h2>
    </div>
  </div>
  
 

  <div class="container text-center">
    <div class="row align-items-center">
      <div class="col">
    
        <h1 style=" color:black; font-size:2vw  " >Kamar Ajaj<h1>
        <h2 style=" color:black; font-size:1.5px my-3 " >  <I>Phone Number 9973961312 </I></h2>
      
    
      </div>
      
      <div class="col">
        <h1 style=" color:black; font-size:2vw " >Shahnwaj Ali</h1>
        <h2 style=" color:black;  my-3" > <I>Phone Number 9717809945 </I></h2>
      
    
      </div>
    </div>
  </div>







  <div class="row  my-5">
    <div class="col-md-6 offset-md-3"><h1 style=" color:black; font-size:2vw " > <b> <I> Located in Dudahi, Kushinagar, Uttar Pradesh  </I></b></h1></div>
  </div>



  
{% endblock body %}

